@{
    ViewBag.Title = "Read Me";
}
<h2>@ViewBag.Title</h2>

<p>
    Event Threshold Limits are set to track if any given department has an average downtime that exceeds the inputted value.<br />
    *This is for the current month period to the current system date* <br />
    *This feature will currently email all users added to the email list*<br />
    *It currently looks to send an email each time an event is added so set the threshold at a reasonably high level to avoid sending too many<br />
    (Or temporarily remove the threshold once hit to avoid for a prolonged issue)*<br />
    <br />
    Each chart is configured to pull downtime events from each department that is registered.<br />
    <br />

</p>
