@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hayes Down Time Management</h1>
    <p class="lead"></p>
    <p class="center"></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View Trend Graph</h2>
        <p></p>
        <p>@Html.ActionLink("View Now", "trend", "charts", null, new { @class = "btn-info btn" })</p>
    </div>
    <div class="col-md-4">
        <h2>View Perato Graph</h2>
        <p></p>
        <p>@Html.ActionLink("View Now", "perato", "charts", null, new { @class = "btn-info btn" })</p>
    </div>
    <div class="col-md-4">
        <h2>Add Downtime Event</h2>
        <p></p>
        <p>@Html.ActionLink("Add New", "create", "DownTimeEvents", null, new { @class = "btn-success btn" })</p>
    </div>
</div>