
@{
    ViewBag.Title = "Index";
}

<h2>Charts</h2>

<table class="text-left">

    <tr>
        <td>
            @Html.ActionLink("Perato", "Perato", null, null, new { @class = "btn-info btn" }) <br />
        </td>
    </tr>
    <tr>
        <td>
            <br />
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Trend", "Trend", null, null, new { @class = "btn-info btn" }) <br />
        </td>
    </tr>

</table>

